@use '../settings';
@use "../tools";

html {
  @include tools.font-style-root;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


//::-webkit-scrollbar
//  display: none /* Chrome Safari */


//html.overflow-y-hidden
//  overflow-y: hidden !important

body {
  @include tools.font-style-root
}

\:root {
  --v-theme-background: #2f2f2f;
  --v-theme-color: #e0e0e0;
  --v-theme-nav-height: 4rem;
  --v-theme-base-font-size: 0.75rem;
  --v-theme-surface: #fff;
  --v-theme-on-surface: #000;
  --v-theme-overlay-multiplier: 1;
  --v-scrollbar-offset: 0px;
}

// iOS Safari hack to allow click events on body
@supports (-webkit-touch-callout: none) {
  body {
    cursor: pointer;
  }
}



h1, h2, h3, h4, h5, h6 {
  color: var(--v-theme-color) !important;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #524e4e;
}


/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(65, 64, 64, 0.3);
  border-radius: 4px;
  background-color: #524e4e;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(65, 64, 64, 0.3);
  background-color: #2f2f2f;
}
